---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";

const projects = await Promise.all(
  (await getCollection("projects"))
    .filter((project) => !project.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .map(async (project) => {
      const url = new URL(project.data.repoURL);
      return {
        ...project,
        shortURL: `${url.hostname}${url.pathname}`,
        Content: (await project.render()).Content,
      };
    }),
);

function approxDate(date: Date) {
  return `${date.toLocaleString("default", { month: "short" })} ${date.getFullYear()}`;
}
---

<style>
  .project-entry h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Projects
      </div>
      <ul class="flex flex-col space-y-4">
        {
          projects.map((entry) => (
            <li class="animate project-entry">
              <h2 id={entry.data.title}>
                <span>
                  <a
                    class="font-semibold text-black dark:text-white text-lg hover:underline cursor-pointer"
                    href={`#${entry.data.title}`}
                  >
                    <span style="color: rgba(0,0,0,0.5)">#&nbsp;</span>
                    {entry.data.title}
                  </a>
                </span>
                <div class="text-sm opacity-75">
                  {approxDate(entry.data.date)}
                </div>
              </h2>
              <a href={entry.data.repoURL} class="text-sm opacity-75">
                {entry.shortURL}
              </a>

              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>
      <!--
      <ul class="animate flex flex-col gap-4">

      </ul> -->
    </div>
  </Container>
</PageLayout>
